.wrapper {
  display: grid;
  border: 1px solid var(--grey-light);
  border-radius: 15px;
  padding: 30px;
  gap: 20px;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.subConteiner {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 50px;
  align-items: center;
}

.textarea {
  border: 1px solid var(--grey-light);
  outline: none;
  padding: 10px 20px;
  color: var(--black-light);
  font-size: 12px;
}

.button {
  justify-self: end;
}

.switch input {display:none;}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: var(--green)
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: var(--white);
}

.valueList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.value {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 30px;
}