.modal {
    position: fixed;
    top: -1000px;
    opacity: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.1s ease 0.2s, opacity 0.2s ease 0s;
    gap: 20px;
}

.open {
    top: 0px;
    opacity: 1;
    transition: top 0.1s ease 0s, opacity 0.2s ease 0.15s; 
}

.description {
    display: none;
    background-color: var(--grey-light);
    color: var(--black-light);
    letter-spacing: 0.3px;
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    font-size: 10px;
}

.exit {
    margin-bottom: 30px;
}

.slider {
    display: grid;
    width: 40%;
    margin-top: 30px;
}

.image {
    position: relative;
    object-fit:cover;
    z-index: 12;
    object-position: center;
    width: 100%;
    height: 80dvh;
}

.image img {
    border-radius: 15px;
}


@media (max-width: 1000px) {
    .slider {
        width: 75%;
    }
    
}

@media (max-width: 700px) {
    .slider {
        width: 80%;
    }
    .image {
        height: 50dvh
    }

    .description {
        display: inline-block;
    }
    
}