.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}

.create {
  justify-self: flex-end;
}