.form {
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 50px);
    grid-template-areas:
    "name name"
    "addImage image"
    "color image"
    "category image"
    "type image"
    "description description"
    "valueContainer valueContainer"
    "price button";
    gap: 40px;
}

.name {
    grid-area: name;
}

.addImage {
    grid-area: addImage;
}

.valueContainer {
    grid-area: valueContainer;
    display: grid;
    gap: 20px;
}

.image {
    grid-area: image;
    justify-self: center;
    border-radius: 15px;
}

.description {
    grid-area: description;
    font-size: 18px;
    border: 1px solid var(--grey-light);
    border-radius: 10px;
    padding: 10px;
}

.category {
    grid-area: category;
}

.type {
    grid-area: type;
}

.color {
    grid-area: color;
}

.price {
    grid-area: price;
}

.button {
    grid-area: button;
    justify-self: end;
}

.textarea {
    border: 1px solid var(--grey-light);
    outline: none;
    padding: 10px 20px;
    color: var(--black-light);
    font-size: 12px;
}

.valueList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.value {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 15px;
    align-items: center;
}