.footer {
    position: relative;
    background-color: var(--black-light);
    color: var(--white);
    padding: 10px 25px;
    display: grid;
    letter-spacing: 2.5px;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "icon"
    "button";
    align-items: center;
    justify-items: center;
}

.title {
    margin: 0;
    grid-area: title;
}

.icon {
    cursor: pointer;
    grid-area: icon;
}

.button {
    grid-area: button;
    justify-self: end;
}