.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.5px;
    gap: 8px;
}

.title {
    margin: 0;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    cursor: pointer;
}