

.image {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: block;
}

.slider {
    position: relative;
    object-fit: cover;
    object-position: center;
    height: 80dvh;
    width: 80%;
}