

.imageContainer {
    position: relative;
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 300px;
}

.image {
    border-radius: 15px;
    display: block;
}

@media (max-width: 700px) {
    .imageContainer {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 500px) {
    .imageContainer {
        width: 300px;
        height: 300px;
    }
}