.sidebar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 10px 25px;
}

.link {
    text-decoration: none;
}