.review {
    display: grid;
    grid-template-columns: 20px 1fr auto;
    grid-template-areas: 
    "userIcon name raiting"
    "description description description";
    border: 1px solid var(--grey-light);
    padding: 10px;
    gap: 10px;
}

.userIcon {
    grid-area: userIcon;
}

.name {
    grid-area: name;
    text-transform: capitalize;
}

.raiting {
    grid-area: raiting;
}

.description {
    grid-area: description;
}