.wrapper {
    display: grid;
    grid-template-columns: minmax(320px, 1200px);
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding: 20px 20px;

}

.form {
    justify-self: center;
}
.reviews {
    display: grid;
    gap: 20px;
}