.textarea {
  border: none;
  outline: none;
  padding: 10px 0px;
  color: var(--black-light);
  transition: 0.2s ease;
  font-size: 16px;
  resize: none;
  letter-spacing: 1.5px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .input:focus {
        font-size: 16px;
    }
}

.textarea::placeholder {
  color: var(--grey);
}