.textarea {
  border: none;
  outline: none;
  padding: 10px 15px;
  color: var(--black-light);
  transition: 0.2s ease;
  font-size: 12px;
  resize: none;
}

.textarea::placeholder {
  color: var(--grey);
}