.wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        ". header ."
        ". sidebar ."
        ". body ."
        "footer footer footer";
    grid-template-rows:auto auto 1fr auto;
    height: 100dvh;
}

.header {
    display: none;
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    grid-area: body;
}

.previewPhoto {
    margin-bottom: 30px;
    width: 100%;
    height: 220px;
    background-image: url('../public/images/fone.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 15px;
}

.title {
    color: var(--grey);
    margin: 0;
    letter-spacing: 8px;
    font-size: 24px;
}

.subtitle {
    color: var(--white);
    margin: 0;
    letter-spacing: 15px;
    font-size: 36px;
    font-weight: 600;
}

.footer {
    grid-area: footer;
}