.main {
    padding-bottom: 30px;
}

.catalogButton, .reviewButton {
    justify-self: center;
}

.advantagesSection, .reviewSection, .catalogSection {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1200px);
    gap: 30px;
    margin-top: 40px;
}

.catalog {
    display: grid;
    padding: 0px 100px;
    gap: 30px;
}

.advantages, .reviews {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}