.main {}

.previewPhoto {
    margin-bottom: 30px;
    width: 100%;
    height: 220px;
    background-image: url('../public/images/fone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 15px;
}

.title {
    color: var(--grey);
    margin: 0;
    letter-spacing: 8px;
    font-size: 20px;
}

.subtitle {
    color: var(--white);
    margin: 0;
    letter-spacing: 15px;
    font-size: 32px;
    font-weight: 600;
}

.catalogSection {
    display: grid;
    justify-content: center;
    gap: 40px;
}

.catalog {
    display: grid;
    grid-template-columns: minmax(320px, 1000px);
    gap: 20px;
}

.catalogButton {
    justify-self: center;
}

.advantagesSection {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1000px);
    gap: 30px;
    margin-top: 40px;
}

.advantagesTitle {
    justify-self: center;
    margin: 0;
    font-size: 24px;
    letter-spacing: 8px;
    color: var(--black);
}

.advantages {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.advantage {
    font-size: 16px;
    color: var(--black-light);
    letter-spacing: 2.5px;
}

.reviewSection {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1000px);
    gap: 30px;
    margin-top: 40px;
}

.reviewTitle {
    justify-self: center;
    margin: 0;
    font-size: 24px;
    letter-spacing: 8px;
    color: var(--black);
}