.order {
    border: 1px solid var(--grey-light);
    padding: 20px 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 20px;
    align-items: center;
    grid-template-areas:
    "idIcon id"
    "userIcon name"
    "phoneIcon phone"
    ". button";
}

.userIcon {
    grid-area: userIcon;
}

.name {
    grid-area: name;
}

.phoneIcon {
    grid-area: phoneIcon;
}

.phone {
    grid-area: phone;
}

.idIcon {
    grid-area: idIcon;
}

.id {
    grid-area: id;
}

.button {
    grid-area: button;
    justify-self: end;
}