.filled {
  fill: rgb(255, 215, 0);
}
  
.star {
    margin-right: 2px;
    width: 15px;
    height: 15px;
}
  
.editable {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}