.sidebar {
    background-color: var(--black-light);
    height: 100%;
    box-shadow: 3px 0px 27px 0px var(--black-light);
    display: grid;
    align-content: start;
    width: auto;

}

.sidebar ul {
    margin-top: 70px;
    list-style: none;
    padding: 0;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    justify-items: start;
    align-content: start;
}

.sidebar ul .element {
    cursor: pointer;
    padding: 0px 20px;
}

.active svg{
    fill: var(--burgundy)
}

.active {
    border-right: 1px solid var(--burgundy);
}

.btn {
    justify-self: center;
}