.catalog {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1200px);
    gap: 30px;
    margin: 40px 0px;
    padding: 0px 20px;
}

.nav {
    width: 320px;
    justify-self: center;
}