.link {
    color: var(--grey);
    letter-spacing: 2.5px;
    font-size: 14px;
}

.active {
    color: var(--black-light);
    font-weight: 600;
    transform: scale(1.03);
    transition: 0.4s ease;
}