.h {
    color: var(--black);
    margin: 0;
}

.h1 {
    font-size: 26px;
    letter-spacing: 6px;
    text-align: center;
}

.h2 {
    font-size: 22px;
    letter-spacing:1.5px;
}

.h3 {
    font-size: 18px;
}