

.input {
  border: none;
  outline: none;
  padding: 10px 15px;
  color: var(--black-light);
  letter-spacing: 1.5px;
  transition: 0.2s ease;
  font-size: 12px;
}

.input::placeholder {
  color: var(--grey);
}

.input:is(:focus, :valid) {
  border-bottom: 1px solid var(--grey-light);
}