.form {
    display: grid;
    border: 1px solid var(--grey-light);
    grid-template-columns: auto auto;
    grid-template-areas: 
    "title title"
    "name raiting"
    "review review"
    ". btn"
    "alert alert";
    padding: 15px;
    gap: 20px;
    width: 500px;
    align-items: center;
}

.title {
    grid-area: title;
    padding: 10px;
    border-bottom: 1px solid var(--grey-light);
    text-align: center;
}

.name {
    grid-area: name;
}

.review {
    grid-area: review;
}

.raiting {
    grid-area: raiting;
}

.btn {
    grid-area: btn;
    justify-self: end;
}

.alert {
    grid-area: alert;
}

@media (max-width: 700px) {
    .form {
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "raiting"
        "name"
        "review"
        "btn"
        "alert";
    }

    .raiting {
        justify-self: center;
    }
    .btn {
        justify-self: center;
    }
}